* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header__content {
    margin-top: 120px;
    width: 100%;
}

body {
    background-color: rgba(0, 0, 139, 0.596);
}

.header__key {
    height: 120px;
    margin: 50px auto;
    width: 15%;
    transition: .5s ease;
    border-radius: 10px;
    text-align: center;
    border: 0.4px solid white;
    background-color: transparent;
    animation: s 2s ease-in-out;
}

.header__key>h1 {
    color: white;
    font-weight: 100;
    letter-spacing: 1px;
}

input {
    display: none;
}

.like {
    text-align: center;
    margin-top: 50px;
}

.which {
    text-align: center;
    margin-top: 50px;
}

.code {
    text-align: center;
    margin-top: 50px;
}

.location {
    text-align: center;
    margin-top: 50px;
}

.clear {
    width: 100%;
    text-align: center;
}

button {
    border-radius: 5px;
    font-size: 20px;
    color: white;
    border: none;
    outline: none;
    background-color: transparent;
    border: 1px solid white;
    letter-spacing: 1px;
    font-weight: 100;
    height: 5vh;
    transition: .2s ease;
    width: 95px;
}


@keyframes s {
    from {
        transform: translateY(1000px);
    }
     to {
        transform: translateX(0px);
     }
}

.header__key:hover {
    -moz-transform: scale(1.1) translate(21px, 2px) skew(-4deg, 0deg);
    -webkit-transform: scale(1.1) translate(21px, 2px) skew(-4deg, 0deg);
    -o-transform: scale(1.1) translate(21px, 2px) skew(-4deg, 0deg);
    -ms-transform: scale(1.1) translate(21px, 2px) skew(-4deg, 0deg);
    transform: scale(1.1) translate(21px, 2px) skew(-4deg, 0deg);
}

button:hover {
    color: red;
    border: 1px solid red;
    -moz-transform: scale(1.2) translate(0px, -6px) skew(1deg, 0deg);
    -webkit-transform: scale(1.2) translate(0px, -6px) skew(1deg, 0deg);
    -o-transform: scale(1.2) translate(0px, -6px) skew(1deg, 0deg);
    -ms-transform: scale(1.2) translate(0px, -6px) skew(1deg, 0deg);
    transform: scale(1.1) translate(0px, -6px) skew(1deg, 0deg);
}

@media (max-width:440px) {
    .header__key {
        width: 60%;
        height: 100px;
    }

    input {
        display: block;
        margin: 5% auto;
        font-size: 20px;
        padding: 10px;
        border-radius: 5px;
        border: none;
        border: 1px solid white;
        outline: none;
        background-color: transparent;
        height: 5vh;
        color: white;
    }

    input::placeholder {
        color: white;
    }

    .like {
        text-align: center;
        margin-top: 22px;
    }

    .which {
        text-align: center;
        margin-top: 22px;
    }

    .code {
        text-align: center;
        margin-top: 22px;
    }

    .location {
        text-align: center;
        margin-top: 22px;
    }

    .header__key:hover {
        -moz-transform: scale(1.1) translate(12px, 2px) skew(-11deg, 0deg);
        -webkit-transform: scale(1.1) translate(12px, 2px) skew(-11deg, 0deg);
        -o-transform: scale(1.1) translate(12px, 2px) skew(-11deg, 0deg);
        -ms-transform: scale(1.1) translate(12px, 2px) skew(-11deg, 0deg);
        transform: scale(1.1) translate(12px, 2px) skew(-11deg, 0deg);
    }
}